#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: 0rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 100vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 300;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 200;
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: yellow;
    transform: scale(1.05);
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

.resume {
    object-fit: cover;
    height: 1.3rem;
}

.introButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
    margin-top: 1rem;
}

/* Resume Button */

.resumeLink {
    background: white;
    color: black;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.resumeLink:hover {
    background: yellow;
    transform: scale(1.05);
}

/* Resume Modal */

.resumeModal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.resumeContent{
    width:85%;
    height:92%;
    background:#111;
    border-radius:20px;
    overflow:hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.6),
                0 0 15px rgba(255, 255, 0, 0.324);
}

.resumeContent iframe {
    width:100%;
    height:calc(100% - 60px);
    border:none;
}


.resumeViewer{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
}

.resumeTopBar{
    display:flex;
    justify-content:flex-end;
    padding:10px;
    background:#111;
}

.downloadResumeBtn{
    background:yellow;
    color:black;
    text-decoration:none;
    padding:10px 18px;
    border-radius:30px;
    font-weight:400;
    transition:0.3s;
}

.downloadResumeBtn:hover{
    background:#fff000;
    transform:translateY(-2px);
    box-shadow:0 0 15px rgba(255,255,0,0.5);
}

@media screen and (max-width:840px){
    .bg {
        right: -10vw;
    }

    .introContent {
        font-size: 10vw;
    }

    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width:640px){
    .bg {
        right: -20vw;
    }
}