#experience{
    min-height:100vh;
    width:100vw;
    max-width:75rem;
    margin:0 auto;
    padding:2rem;
    color:white;
}

.experienceTitle{
    font-size:3rem;
    font-weight:600;
    margin-bottom:0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experienceDesc{
    color:#cfcfcf;
    font-size:1rem;
    margin-bottom:2rem;
    display:block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experienceContainer{
    display:flex;
    flex-direction:column;
    gap:2rem;
}

/* Card */

.experienceCard{
    background:rgb(50,50,50);
    border-radius:20px;
    padding:2rem;
    transition:0.3s ease;
    box-shadow:0 5px 20px rgba(0,0,0,0.25);
}

.experienceCard:hover{
    transform: translateY(-8px);
    border: 1px solid #ffee00;
    box-shadow:
        0 0 15px rgba(255,255,0,0.4),
        0 0 30px rgba(255,255,0,0.35),
        0 0 50px rgba(255,255,0,0.25);
}
/* Header */

.experienceHeader{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:2rem;
    margin-bottom:1rem;
}

.experienceCard h3{
    font-size:2rem;
    color:yellow;
    margin-bottom:0.5rem;
}

.experienceRole{
    color:#d6d6d6;
    font-size:1rem;
}

/* List */

.experienceCard ul{
    margin-top:1rem;
    padding-left:1.3rem;
}

.experienceCard li{
    line-height:1.8;
    margin-bottom:0.6rem;
    color:#efefef;
}

/* Button RIGHT SIDE */

.certificateBtn{
    background:yellow;
    color:black;
    border:none;
    padding:0.85rem 1.5rem;
    border-radius:35px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s ease;
    white-space:nowrap;
    margin-top:0.4rem;
}

.certificateBtn:hover{
    background:white;
    transform:scale(1.05);
}

/* Modal */

.certificateModal{
    position:fixed;
    inset:0;
    background:rgba(30, 30, 30, 0.300);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999;
    animation:fadeIn .3s ease;
}

.certificateContent{
    width:80%;
    height:85%;
    background:#111;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 0 30px rgba(255,255,255,.12);
}

.certificateContent iframe{
    width:100%;
    height:100%;
    border:none;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

/* Mobile */

@media screen and (max-width:720px){

    .experienceHeader{
        flex-direction:column;
        align-items:flex-start;
    }

    .certificateBtn{
        margin-top:1rem;
    }

    .certificateContent{
        width:95%;
        height:80%;
    }
}